body {
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
    

}   
button {
    width: 100px;
    margin: 0;
    cursor: pointer;
} 
img {
    margin: 0;
    
} 

.rightarrow img {
    
    transform: rotateY(180deg);
}
.photoviewer {
    display: flex;
    
}
.bild {
    position: relative;
    
}
.subscription {
    position: absolute;
    color: white;
    background-color: black;
    bottom: 0;
    padding: 20px;
    opacity: 50%;
}
#title {
    
    margin: 0; 
    margin-bottom: 10px;
}

#description {
    margin: 0; 
}    
#thumbnails {
    display: flex;
    justify-content: center;
    
}

#thumbnails img {
    width: 102px;
    height: 77px;
    margin: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 3px 5px white;
}
/*#thumbnails img:hover {
    
  }*/
